body{
background-color:#fafafa;
}
body{
	background-image:linear-gradient(to right,#405DE6,red);
	padding:0px;
	margin:0px;



}
header{
	width:100%;
	min-height:50px;
	background:white;
	box-sizing:border-box;


	
	}
.container{
background-color:white;
border:1px solid #cecece;
width:22rem;
height: 34rem;
}
}
.containers{
background-color:white;
border:1px solid #cecece;
width:22rem;
height: 29rem;
}


.h1{
font-family:sans-serif;
font-weight:400;
letter-spacing:;
color:#3d3d3d;
font-size:23px;
}

.p{
width:60%;
color:#999;
font-family:sans-serif;
}

.username{
background-color:#fafafa;
border:1px solid #cecece;
outline:none;
border-radius:6px;
width:220px;
height:35px;
text-align:center;
font-size:16px;
}
.px{
background-color:#fafafa;
border:1px solid #cecece;
outline:none;
border-radius:6px;
width:220px;
height:35px;
text-align:center;
font-size:16px;
}
.button{
color:white;
background-color:darkblue;
font-size:17px;
border-radius:5px;
outline:none;
font-family:sans-serif;
font-weight:540;
border:0;
width:170px;
height:30px;
font-weight:bold;
}